body {
    background: #0d0f12;
    color: white;
    font-family: "Poppins", sans-serif;
}

form {
    width: 90%;
    max-width: 400px;
    margin: 60px auto;
    background: #13161b;
    padding: 30px;
    border-radius: 12px;
    animation: fadeUp 0.6s ease;
}

label {
    display: block;
    margin-top: 12px;
}

input {
    width: 100%;
    padding: 10px;
    background: #1f232b;
    border: 1px solid #2c323c;
    color: white;
    border-radius: 6px;
}

button {
    width: 100%;
    background: #4f7dff;
    border: none;
    padding: 12px;
    margin-top: 18px;
    border-radius: 8px;
    font-weight: bold;
}

button:hover {
    background: #6f92ff;
}

a {
    display: block;
    color: #4f7dff;
    margin-top: 15px;
}

@keyframes fadeUp {
    from { opacity:0; transform:translateY(25px); }
    to { opacity:1; transform:translateY(0); }
}
