body {
    background: #0d0f12;
    color: #8da6c6;
    font-family: "Poppins", sans-serif;
}

.titulo {
    text-align: center;
    margin-top: 20px;
}

.contenedor-tarjetas {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.tarjeta-item {
    background: #13161b;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.3s;
    animation: fadeUp 0.6s ease;
}

.tarjeta-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 12px rgba(79, 125, 255, 0.4);
}

.tarjeta-imagen img {
    width: 80px;
}

.tarjeta-info span {
    display: block;
    margin-bottom: 20px;
}

.banco {
    font-size: 1.1rem;
    font-weight: bold;
}

.saldo {
    color: #4f7dff;
    font-weight: bold;
}

@keyframes fadeUp {
    from { opacity:0; transform:translateY(25px); }
    to { opacity:1; transform:translateY(0); }
}
